#logout {
    float: right;
    margin-right: 20px;
    text-decoration: none;
    color: darkgreen;
}

.chat {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -605px;
}

.parent {
    position: relative;
    overflow: hidden;
    height: 430px;
    width: 1120px;
    border: 8px solid yellowgreen;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 0 5px 0 20px;
    font: 16px Georgia, Serif;
}

#userListBox {

    float: right;
    border: 4px solid yellowgreen;
    width: 180px;
    height: 330px;
    margin-top: 20px;
    margin-right: 17px;
    border-radius: 16px;
}

#userListHeading {
    background-color: yellowgreen;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#userListHeading div {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    margin-left: 18px;
    font: 16px Georgia, Serif;
    color: white;
}

#userList {
    height: 296px;
}

#userListContent {
    list-style-type: none;
    margin-left: 5px;
    padding: 0;
    color: darkolivegreen;
    font-size: 10px;
}

.serverError {
    font-size: 12px;
    color: darkred;
}

#textbox {
    overflow: auto;
    position: absolute;
    padding: 0 10px 0 0;
    width: 1120px;
    height: 100%;
}

#textInput {
    border-radius: 10px;
    border: 2px solid yellowgreen;
    font: 18px Georgia, Serif;
    width: 85%;
    margin-top: 12px;
    padding-left: 8px;
    color: darkolivegreen;
}

#btn1 {
    border: none;
    border-radius: 16px;
    background-color: yellowgreen;
    float: left;
    height: 53px;
    width: 50px;
    cursor: pointer;
    margin-right: 10px;
}

#send {
    border: none;
    border-radius: 16px;
    background-color: yellowgreen;
    font-size: 18px;
    color: white;
    float: right;
    height: 53px;
    width: 90px;
    cursor: pointer;
}

#messageBoxContainer {
    width: 1145px;
    height: 55px;
    border: 8px solid yellowgreen;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: none;
    background-color: yellowgreen;
    position: relative;
}

.time {
    position: relative;
    left: 10px;
    font: 12px Georgia, Serif;
    color: gray;

}

.nickname {
    position: relative;
    left: 20px;
    margin-top: 2px;
    font: bold 14px Georgia, Serif;
    color: forestgreen;

}

.messageContent {
    position: relative;
    margin-top: 5px;
    left: 30px;
    font: 18px Georgia, Serif;
    color: darkolivegreen;
    word-wrap: break-word;
    padding-right: 60px;
}

.firstRow {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: lightgray;
    border: groove rgba(235, 235, 235, 0.28);
    border-radius: 10px;
}

.secondRow {
    background-color: white;
    border: double white;
}

.messageRow {
    width: 900px;
    min-height: 42px;
}

